.heading-primary {
  font-size: 6.5rem;
  font-weight: 700;
  text-transform: uppercase;

  &--1 {
    display: block;
  }
  &--2 {
    display: block;
  }
}

.heading-secondary {
  font-size: 6.8rem;
  text-transform: uppercase;
  text-align: center;
  color: $color-red-1;
}

.first-number {
  font-size: 6rem;
  align-self: start;
  margin-top: -1.8rem;
}
