/*==================================================
COLOR
==================================================*/

/*
** RED
*/
$color-red-1: #fe3535;
$color-red-2: #d37369;

/*
** BROWN
*/
$color-brown-dark: #a77975;
$color-brown-light-1: #e6dbd3;
$color-brown-light-2: #d6c6ac;

/*
** LIGHT
*/
$color-light-1: #fefaf6;
$color-light-2: #dbd5cf;
