/*==================================================
ABSTRACTS
==================================================*/
/*==================================================
COLOR
==================================================*/
/*
** RED
*/
/*
** BROWN
*/
/*
** LIGHT
*/
/*==================================================
BASE
==================================================*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.heading-primary {
  font-size: 6.5rem;
  text-transform: uppercase; }
  .heading-primary--1 {
    display: block; }
  .heading-primary--2 {
    display: block; }

/*==================================================
COMPONENTS
==================================================*/
/*==================================================
LAYOUT
==================================================*/
.header {
  background-color: #fc393a;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative; }
  .header__social-nav {
    padding-top: 1rem;
    padding-left: 1.5rem; }
  .header__social-menu {
    list-style: none; }
  .header__social-item {
    display: inline-block;
    padding: 1rem; }
  .header__social-icon {
    font-size: 1.8rem; }
  .header__social-link {
    color: #fff;
    text-decoration: none; }
  .header__logo-box {
    width: 60rem;
    position: absolute;
    top: -9rem;
    left: 50%;
    transform: translate(-50%, 0); }
  .header__logo {
    width: 100%; }
  .header__text-box {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    letter-spacing: 1px;
    text-align: center;
    width: 100%; }
