.header {
  background-color: #fc393a;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;

  &__social-nav {
    padding-top: 1rem;
    padding-left: 1.5rem;
  }

  &__social-menu {
    list-style: none;
  }

  &__social-item {
    display: inline-block;
    padding: 1rem;
  }

  &__social-icon {
    font-size: 1.8rem;
  }

  &__social-link {
    color: #fff;
    text-decoration: none;
  }
  &__logo-box {
    width: 60rem;
    position: absolute;
    top: -9rem;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &__logo {
    width: 100%;
  }

  &__text-box {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    letter-spacing: 1px;
    text-align: center;
    width: 100%;
  }

  &__order-box {
    position: absolute;
    top: 1rem;
    right: 0;
    background-color: #000;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    padding-right: 3rem;
  }

  &__order-link {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
  }

  &__order-arrow {
    display: inline-block;
    color: #fff;
    margin-left: 2rem;
    font-size: 3rem;
  }
}
